@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background: linear-gradient(135deg, #f2f2e69d, #ffffff);
  min-height: 100vh;
  margin: 0;
}

:root {
  --primary: #1d4ed8;
  --primary-hover: #2563eb;
  --accent: #6366f1;

  --bg-main: #f8fafc;
  --bg-card: #ffffff;
  --bg-muted: #f1f5f9;

  --text-main: #0f172a;
  --text-secondary: #475569;

  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;
}
